/* Mobile First Design */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    /* Primary */
    --gradient: linear-gradient(hsl(6, 100%, 80%) to hsl(335, 100%, 65%));
    /* Neutral */
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dk-blue: hsl(228, 56%, 26%);
    --very-dk-blue: hsl(229, 57%, 11%);

    --slider-thumb-border;
    hsl(249, 100%, 65%); 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px solid black;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: var(--pale-blue);
    display: flex;
    flex-direction: column;
    background: url("../images/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;

    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    margin-bottom: 20%;
    margin: auto;
}

/* Company Styling */

.company__container, .slider__container {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    background-color: var(--dk-blue);
}

.company__container {
    height: 208px;
    width: 330px;
    margin-top: 360px;
    justify-content: space-around;
    border-radius: 8px 80px 8px 8px;
    border: 1px solid var(--very-dk-blue);
}

 .logo {
    margin-left: 40px;
    margin-top: 20px;
}

.icon-container {
    display: flex;
    justify-content: ;
    align-items: center;
    margin-left: 35px;
}

.icon-wrapper{
    display: flex;
    align-items: center;
    background-color: var(--very-dk-blue);
    margin: 0 0.6em;
    border-radius: 5px;
    height: 50px;
    width: 54px;
}

.icon1, .icon2, .icon3 {
    margin: auto;
    align-items: center;
}


/* Slider/Input Style */
.slider__container {
    height: 165px;
    width: 330px;
    margin-top: 25px; 
}

.range-output {

}

.range-slider input {
    width: 100%;
    -webkit-appearance: none;
    border-radius: 10px;
    border: 2px solid var(--very-dk-blue);
    outline: none;
    background: linear-gradient(to right, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 80%, hsl(229, 57%, 11%) 80%, hsl(229, 57%, 11%) 100%);
}

/* Styling Thumb of range slider */
/* Chrome */
 .range-slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid var(--slider-thumb-border);
    cursor: pointer;
}
/* Mozilla */




/* Footer */
footer {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    width: 100%;
    height: 100px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}